@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .snap-smooth {
    scroll-behavior: smooth;
  }
  .snap-px-4 {
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

.bg-primary {
  background-color: #080e35;
}

.font-primary {
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.0333em;
}

.text-shadow {
  text-shadow: -1px 0px 1px #CCCCCC, -0px 1px 1px #EEEEEE, -2px 1px 1px #CCCCCC, -1px 2px 1px #EEEEEE, -3px 2px 1px #CCCCCC, -2px 3px 1px #EEEEEE, -4px 3px 1px #CCCCCC, -3px 4px 1px #EEEEEE, -5px 4px 1px #CCCCCC, -4px 5px 1px #EEEEEE, -6px 5px 1px #CCCCCC, -5px 6px 1px #EEEEEE, -7px 6px 1px #CCCCCC;
}
