@import-normalize;

body {
  font-family: 'Oswald', sans-serif;
  background-color: #080e35;
  color: #fff;
  margin: 0;
}

.text-primary {
  color: #080e35;
}

.background-primary {
  background-color: #080e35;
}

.background-secondary {
  background-color: #FFBD69;
}
