.armySelection-h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.armySelection-h2-before {
  font-size: 1.5rem;
  font-weight: 600;
}

.armySelection-h2 {
  font-size: 5rem;
  letter-spacing: 1px;
  text-shadow: -1px 0px 1px #CCCCCC, -0px 1px 1px #EEEEEE, -2px 1px 1px #CCCCCC, -1px 2px 1px #EEEEEE, -3px 2px 1px #CCCCCC, -2px 3px 1px #EEEEEE, -4px 3px 1px #CCCCCC, -3px 4px 1px #EEEEEE;
}

.armySelection-item {
  cursor: pointer;
  color: inherit;
}

.armySelection-item .armySelection-logo {
  filter: grayscale(0.666);
  transition: all 333ms ease;
}

.armySelection-logo-selected,
.armySelection-item:hover .armySelection-logo {
  filter: none !important;
}
